@import "../neat/neat",
"../bourbon/bourbon",
"../base/base";

body {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2em;
}

header {

  @include span-columns(12);

}

.main-container {

  @include outer-container;

  main {

    @include media($mobile) {
      @include span-columns(12);
    }

    @include media($desktop) {
      @include span-columns(8);
    }

    @include media($tablet) {
      @include span-columns(8);
    }

  }

  aside {

    @include media($mobile) {
      @include span-columns(12);
    }

    @include media($desktop) {
      @include span-columns(4);
    }

    @include media($tablet) {
      @include span-columns(4);
    }
  }

}

footer {

  @include span-columns(12);

}

