/*============================================
      PUSH MENU
==============================================*/
#pushmenu_container{
  position: absolute;
}

.container {
  position: relative;
}

.ml-menu{
  padding: 15px;
}

.scroller,
.scroller-inner {
  position: relative;
}

.mp-container {
  position: relative;
  /*overflow: hidden;*/
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
}

a.mp-back{
  color: black;
}

.mp-menu {
  position: fixed; /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  height: 100%;
  overflow-y: auto;
  background-color: red;

  &.mp-cover h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
  }

  /* content style */
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li > a {
      display: block;
      padding: 0.7em 1em 0.7em 1.8em;
      outline: none;
      box-shadow: inset 0 -1px rgba(0,0,0,0.2);
      text-shadow: 0 0 1px rgba(255,255,255,0.1);
      font-size: 2em;
      -webkit-transition: background 0.3s, box-shadow 0.3s;
      -moz-transition: background 0.3s, box-shadow 0.3s;
      transition: background 0.3s, box-shadow 0.3s;
      color: black;
    }

    li::before {
      position: absolute;
      left: 10px;
      z-index: -1;
      color: rgba(0,0,0,0.2);
      line-height: 3.5;
    }
  }

  h2 {
    margin: 0;
    padding: 1em;
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 2em;
  }

  &.mp-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }

}

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
  background: rgba(0,0,0,0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
  z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 110%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
  cursor: pointer;

  &.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
  }
}

.mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  ul > li > .mp-level:not(.mp-level-open) {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}


.mp-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
  background: rgba(0,0,0,0.1);
  outline: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 1.6em;
  padding: 1em 2em;
  position: relative;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;

  &:hover{
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  &::after {
    font-family: 'FontAwesome';
    position: absolute;
    content: "\f104";
    left: 10px;
    font-size: 1.3em;
    color: rgba(0,0,0,0.3);
    line-height: 1.15em;
    color: black;
  }
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block;
}

.mp-menu ul li > a,
.mp-back{
  //font-family: museosansrounded-100;
  text-decoration: none;
}

//Arrow right for item with submenu

.icon-arrow-right::after{
  font-family: 'FontAwesome';
  content: '\f105';
  position: absolute;
  right: 40px;
  z-index: -1;
}

//Close BUTTON

.close-menu {
  @media only screen and (min-width: 320px){
    color: black;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding: 5px 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2000;
  }

}

// Padding for second level for menu
.mp-level-child{
  padding-left: 40px;
}

.menu-trigger {
  float: left;
  z-index: 99;
}

.menu-trigger {
  color: black;
  font-size: 24px;
}


/*---------------------------------------------------*/


#mp-menu #searchform input[type=text]{
  color: #d51317;
  padding: 5px;

}

#mp-menu #searchsubmit{
  color: #d51317;
  background-color: #fff;

}

#menu-top-menu{
  display: none;
}

@media only screen and (min-width: 320px){
  #trigger-mobile{
    display: none;
  }
}

.levelHolderClass ul {
  /*overflow-y: auto;*/
  height: 100%;
  width: 255px;
  position: fixed;

}

.multilevelpushmenu_wrapper {
  //font-family: MuseoSansRounded-100;
  position: fixed;
  /*min-width: 100%;
  min-height: 100%;*/
  margin: 0;
  padding: 0;
  z-index: 999;
}

.multilevelpushmenu_wrapper .levelHolderClass {
  position: fixed;
  top: 0;
  background: #fff;
  width: auto;
  min-height: 100%;
  //font-family: MuseoSansRounded-100;
  font-size: inherit;
  zoom: 1;
  z-index: 300;
}

.multilevelpushmenu_wrapper .ltr {
  margin-left: -100%;
  left: 0;
  -moz-box-shadow: 5px 0 5px -5px #000000;
  -webkit-box-shadow: 5px 0 5px -5px #000000;
  box-shadow: 5px 0 5px -5px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90,strength=2);
}

.multilevelpushmenu_wrapper .rtl {
  margin-right: -100%;
  right: 0;
  -moz-box-shadow: 5px 0 5px 5px #000000;
  -webkit-box-shadow: 5px 0 5px 5px #000000;
  box-shadow: 5px 0 5px 5px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=270,strength=2);
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
  background: #fff;
}

.multilevelpushmenu_wrapper h2 {
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  color: #000;
  padding: 0 .4em 0 1em;
}

.multilevelpushmenu_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.multilevelpushmenu_wrapper li {
  cursor: pointer;
  border-top: 1px solid #ccc;
  padding: .6em .6em .6em .6em;
}

.multilevelpushmenu_wrapper li:last-child {
  border-bottom: 1px solid #ccc;
}

.multilevelpushmenu_wrapper li:hover {
  background-color: #333;
}

.multilevelpushmenu_wrapper a {
  display: block;
  outline: none;
  overflow: hidden;
  font-size: 2em;
  line-height: 1em;
  padding: .4em .2em .4em 1em;
  text-decoration: none;
  color: #000;
}

.multilevelpushmenu_wrapper a:hover {
  color: #ffe;
}

.multilevelpushmenu_wrapper .backItemClass {
  display: block;
  padding: .4em .4em .4em 0;
  border-top: 1px solid #b91014;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset;
}

.multilevelpushmenu_wrapper .backItemClass a{
  color: #fff;
}

.multilevelpushmenu_wrapper .floatRight {
  float: left;
}

.multilevelpushmenu_wrapper .floatLeft {
  float: right;
}

.multilevelpushmenu_wrapper .cursorPointer {
  cursor: pointer;
}

.multilevelpushmenu_wrapper .iconSpacing_ltr {
  padding: 0 .4em 0 0;
}

.multilevelpushmenu_wrapper .iconSpacing_rtl {
  padding: 0 0 0 .4em;
}

.reorder-close{
  position: fixed;
  left: 200px;
  z-index: 2000;
}