@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
WordPress Core CSS
As found in http://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto; }

.entry-content p {
  margin: 0 0 1.5em; }

.entry-content .alignright,
.entry-content img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.entry-content pre {
  white-space: pre-wrap; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.sidebar li {
  list-style-type: none; }

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important; }

/* Navigation bar */
.site-pushmenu {
  display: inline-block; }

.site-navigation {
  display: none; }
  @media screen and (min-width: 850px) {
    .site-navigation {
      display: block; } }
  .site-navigation .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-top: 0.5em; }
    @media screen and (min-width: 53.75em) {
      .site-navigation .navigation-menu-button {
        display: none; } }
  .site-navigation .navigation-wrapper {
    position: relative; }
    .site-navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .site-navigation .logo {
    float: left; }
    .site-navigation .logo img {
      max-height: 2em;
      padding-right: 1em; }
  .site-navigation nav {
    float: none; }
    @media screen and (min-width: 53.75em) {
      .site-navigation nav {
        float: left;
        line-height: 1.5em;
        padding-top: 0.3em; } }
  .site-navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .site-navigation ul.navigation-menu {
        display: block;
        margin: 0;
        padding: 0; } }
    .site-navigation ul.navigation-menu.show {
      display: block; }
  .site-navigation ul li.menu-item {
    display: block;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .site-navigation ul li.menu-item {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto;
        z-index: 3; } }
  .site-navigation li.menu-item a {
    display: inline-block; }
    @media screen and (min-width: 53.75em) {
      .site-navigation li.menu-item a {
        padding-right: 1em; } }

.menu-item-has-children {
  overflow: visible;
  padding-right: 0; }
  @media screen and (min-width: 53.75em) {
    .menu-item-has-children {
      position: relative; } }
  .menu-item-has-children .hover-menu-item {
    left: 0;
    position: relative; }
    .menu-item-has-children .hover-menu-item::after {
      content: "›";
      padding-left: 0.5em; }
  .menu-item-has-children .sub-menu {
    display: none;
    margin: 0;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .menu-item-has-children .sub-menu {
        left: 0;
        position: absolute; } }
  .menu-item-has-children .sub-menu li {
    display: block;
    padding-right: 0; }
  .menu-item-has-children .sub-menu li a {
    display: inline-block;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .menu-item-has-children .sub-menu li a {
        text-align: left;
        width: 12em; } }
  @media screen and (min-width: 53.75em) {
    .menu-item-has-children .sub-menu .sub-menu {
      left: 12em;
      top: 0; } }
  .menu-item-has-children:focus > .sub-menu, .menu-item-has-children:hover > .sub-menu {
    display: block; }

body {
  max-width: 100%;
  margin: 0;
  padding: 0; }

.container {
  max-width: 68.57143em;
  margin: 0 auto;
  padding: 0 2em; }

header {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }

.main-container {
  max-width: 68.57143em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 320px) {
    .main-container main {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .main-container main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    .main-container main {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 65.78947%; }
      .main-container main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 750px) {
    .main-container main {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 65.78947%; }
      .main-container main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 320px) {
    .main-container aside {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .main-container aside:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    .main-container aside {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 31.57895%; }
      .main-container aside:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 750px) {
    .main-container aside {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 31.57895%; }
      .main-container aside:last-child {
        margin-right: 0; } }

footer {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.breadcrumbs {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left; }
  .breadcrumbs li {
    background-color: #fff;
    color: #999;
    display: inline-block;
    font-size: 0.8em;
    line-height: 2.25em;
    margin-bottom: 2px;
    margin-right: 0;
    padding: 0 0.5625em 0 1.125em;
    position: relative;
    text-decoration: none; }
    .breadcrumbs li:first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      padding-left: 0; }
    .breadcrumbs li:last-child {
      background-color: #fff;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      color: #999;
      padding-right: 1.125em; }
    .breadcrumbs li:focus, .breadcrumbs li:hover {
      background-color: #fff;
      color: #477dca; }
    .breadcrumbs li:after, .breadcrumbs li:before {
      position: absolute;
      top: 0px;
      right: auto;
      bottom: 0px;
      left: 100%;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 5px solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
      width: 10px;
      height: 10px; }
    .breadcrumbs li:last-child:after, .breadcrumbs li:last-child:before {
      border: none; }
    .breadcrumbs li:before {
      border-left-color: #ddd;
      margin-left: 1px;
      z-index: 1; }
    .breadcrumbs li:after {
      border-left-color: #fff; }
    @media screen and (min-width: 40em) {
      .breadcrumbs li {
        font-size: 1em;
        padding: 0 1.125em 0 1.5em; } }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3864a1;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b0b0b0; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a5a5a5;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355d97; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

.offcanvas-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .offcanvas-content ul {
    padding: 0;
    margin: 0; }
  .offcanvas-content li {
    list-style: none; }
  .offcanvas-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none; }
    .offcanvas-content li a:focus {
      background-color: #4d4d4d; }
    .offcanvas-content li a:hover {
      background-color: #477dca;
      color: #fff; }
  .offcanvas-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.offcanvas-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .offcanvas-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.offcanvas-button {
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
  outline: none;
  display: block; }
  @media screen and (min-width: 850px) {
    .offcanvas-button {
      display: none; } }
  .offcanvas-button img {
    height: 1.3em; }

.offcanvas-close {
  margin-top: 10px; }
  .offcanvas-close i {
    cursor: pointer; }

/*============================================
      PUSH MENU
==============================================*/
#pushmenu_container {
  position: absolute; }

.container {
  position: relative; }

.ml-menu {
  padding: 15px; }

.scroller,
.scroller-inner {
  position: relative; }

.mp-container {
  position: relative;
  /*overflow: hidden;*/ }

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%; }

a.mp-back {
  color: black; }

.mp-menu {
  position: fixed;
  /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  height: 100%;
  overflow-y: auto;
  background-color: red;
  /* content style */ }
  .mp-menu.mp-cover h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em; }
  .mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .mp-menu ul li > a {
      display: block;
      padding: 0.7em 1em 0.7em 1.8em;
      outline: none;
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
      font-size: 2em;
      -webkit-transition: background 0.3s, box-shadow 0.3s;
      -moz-transition: background 0.3s, box-shadow 0.3s;
      transition: background 0.3s, box-shadow 0.3s;
      color: black; }
    .mp-menu ul li::before {
      position: absolute;
      left: 10px;
      z-index: -1;
      color: rgba(0, 0, 0, 0.2);
      line-height: 3.5; }
  .mp-menu h2 {
    margin: 0;
    padding: 1em;
    color: black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 2em; }
  .mp-menu.mp-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%); }

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0; }

.mp-pusher::after,
.mp-level::after {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s; }

.mp-level::after {
  z-index: -1; }

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 110%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.mp-level.mp-level-overlay {
  cursor: pointer; }
  .mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1; }

.mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .mp-cover .mp-level.mp-level-open ul > li > .mp-level:not(.mp-level-open) {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

.mp-overlap .mp-level.mp-level-overlay > h2::before {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.mp-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2); }

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px transparent; }

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px transparent; }

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px transparent, inset 0 1px transparent; }

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */
.mp-back {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 1.6em;
  padding: 1em 2em;
  position: relative;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s; }
  .mp-back:hover {
    font-weight: bold;
    color: black;
    text-decoration: none; }
  .mp-back::after {
    font-family: 'FontAwesome';
    position: absolute;
    content: "\f104";
    left: 10px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.3);
    line-height: 1.15em;
    color: black; }

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 300px; }

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none; }

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block; }

.mp-menu ul li > a,
.mp-back {
  text-decoration: none; }

.icon-arrow-right::after {
  font-family: 'FontAwesome';
  content: '\f105';
  position: absolute;
  right: 40px;
  z-index: -1; }

@media only screen and (min-width: 320px) {
  .close-menu {
    color: black;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding: 5px 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2000; } }

.mp-level-child {
  padding-left: 40px; }

.menu-trigger {
  float: left;
  z-index: 99; }

.menu-trigger {
  color: black;
  font-size: 24px; }

/*---------------------------------------------------*/
#mp-menu #searchform input[type=text] {
  color: #d51317;
  padding: 5px; }

#mp-menu #searchsubmit {
  color: #d51317;
  background-color: #fff; }

#menu-top-menu {
  display: none; }

@media only screen and (min-width: 320px) {
  #trigger-mobile {
    display: none; } }
.levelHolderClass ul {
  /*overflow-y: auto;*/
  height: 100%;
  width: 255px;
  position: fixed; }

.multilevelpushmenu_wrapper {
  position: fixed;
  /*min-width: 100%;
  min-height: 100%;*/
  margin: 0;
  padding: 0;
  z-index: 999; }

.multilevelpushmenu_wrapper .levelHolderClass {
  position: fixed;
  top: 0;
  background: #fff;
  width: auto;
  min-height: 100%;
  font-size: inherit;
  zoom: 1;
  z-index: 300; }

.multilevelpushmenu_wrapper .ltr {
  margin-left: -100%;
  left: 0;
  -moz-box-shadow: 5px 0 5px -5px #000000;
  -webkit-box-shadow: 5px 0 5px -5px #000000;
  box-shadow: 5px 0 5px -5px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90,strength=2); }

.multilevelpushmenu_wrapper .rtl {
  margin-right: -100%;
  right: 0;
  -moz-box-shadow: 5px 0 5px 5px #000000;
  -webkit-box-shadow: 5px 0 5px 5px #000000;
  box-shadow: 5px 0 5px 5px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=270,strength=2); }

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
  background: #fff; }

.multilevelpushmenu_wrapper h2 {
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  color: #000;
  padding: 0 .4em 0 1em; }

.multilevelpushmenu_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.multilevelpushmenu_wrapper li {
  cursor: pointer;
  border-top: 1px solid #ccc;
  padding: .6em .6em .6em .6em; }

.multilevelpushmenu_wrapper li:last-child {
  border-bottom: 1px solid #ccc; }

.multilevelpushmenu_wrapper li:hover {
  background-color: #333; }

.multilevelpushmenu_wrapper a {
  display: block;
  outline: none;
  overflow: hidden;
  font-size: 2em;
  line-height: 1em;
  padding: .4em .2em .4em 1em;
  text-decoration: none;
  color: #000; }

.multilevelpushmenu_wrapper a:hover {
  color: #ffe; }

.multilevelpushmenu_wrapper .backItemClass {
  display: block;
  padding: .4em .4em .4em 0;
  border-top: 1px solid #b91014;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset; }

.multilevelpushmenu_wrapper .backItemClass a {
  color: #fff; }

.multilevelpushmenu_wrapper .floatRight {
  float: left; }

.multilevelpushmenu_wrapper .floatLeft {
  float: right; }

.multilevelpushmenu_wrapper .cursorPointer {
  cursor: pointer; }

.multilevelpushmenu_wrapper .iconSpacing_ltr {
  padding: 0 .4em 0 0; }

.multilevelpushmenu_wrapper .iconSpacing_rtl {
  padding: 0 0 0 .4em; }

.reorder-close {
  position: fixed;
  left: 200px;
  z-index: 2000; }

/*# sourceMappingURL=general.css.map */
