html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
WordPress Core CSS
As found in http://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto; }

.entry-content p {
  margin: 0 0 1.5em; }

.entry-content .alignright,
.entry-content img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.entry-content pre {
  white-space: pre-wrap; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

body {
  max-width: 68.57143em;
  margin: 0 auto;
  padding: 0 2em; }

header {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }

.main-container {
  max-width: 68.57143em;
  margin-left: auto;
  margin-right: auto; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 320px) {
    .main-container main {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .main-container main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    .main-container main {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 65.78947%; }
      .main-container main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 750px) {
    .main-container main {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 65.78947%; }
      .main-container main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 320px) {
    .main-container aside {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .main-container aside:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    .main-container aside {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 31.57895%; }
      .main-container aside:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 750px) {
    .main-container aside {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 31.57895%; }
      .main-container aside:last-child {
        margin-right: 0; } }

footer {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }

/*# sourceMappingURL=general.css.map */
