@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

body {
  //max-width: $max-width;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.site-container{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2em;
}

header {
  @include span-columns(12);

}

.main-container {

  @include outer-container;
  display: inline-block;

  main {

    @include media($mobile) {
      @include span-columns(12);
    }

    @include media($desktop) {
      @include span-columns(8);
    }

    @include media($tablet) {
      @include span-columns(8);
    }

  }

  aside {

    @include media($mobile) {
      @include span-columns(12);
    }

    @include media($desktop) {
      @include span-columns(4);
    }

    @include media($tablet) {
      @include span-columns(4);
    }
  }

}

footer {

  @include span-columns(12);

}
